    <h1 class="display-3 text-center mt-3">Solicitud pendiente</h1>

<div class="" id="pendcheck">

    <form action=""  style="text-align: center; width: 50rem; margin-left: 10cm;">
        <div class="row">

            <div class="col form-floating mb-3 mt-3">
                <input type="tel" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="margin-left: .1cm;">Introduce el número de matricula</label>
            </div>
        </div>
        <button class="btn btn-primary" style="">Revisar estado</button>
    </form>
</div>