<div class="container">
    <div class="row">
        <div class="text-center mt-4 mb-4" style="--bs-border-opacity: .4;">
            <h1 class="display-5">Carta de presentación para estadías</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center" style="margin-top: 2%;">
        <!--    <div class="row col-md-5 align-items-center">
                <div class="card border-white border-4" style="background-color: lightgray;">
                    <div class="card-body text-center" style="background-color: lightgray;">
                        <h5 class="card-title">Información del usuario</h5>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: lightgray;">Alumno: <b> {{username}}</b>
                        </li>
                        <li class="list-group-item" style="background-color: lightgray;">Expediente:  <b> {{expediente}}</b>
                        </li>
                        <li class="list-group-item" style="background-color: lightgray;">Contraseña: <b> {{password}}</b>
                        </li>
                    </ul>
                </div>

            </div>
            -->
        <div class="row col-md-7 text-center border border-dark border-4">
            <h4 class="inst-title">Requisitos para solicitar carta</h4>
            <div class="text-block text-start" style="margin-top: .5cm; margin-bottom: .5cm;">
                1.- Copia de recibo del pago de inscripción al cuatrimestre actual<br>
                2.- Constancia de vigencia del Instituto Mexicano del Seguro Social (IMSS)<br>
                3.- <a href="/documents/encuesta_empresa.pdf">Encuesta de la empresa</a>
            </div>
        </div>
    </div>
</div>


<div class="container " style="">
    <div class="row justify-content-center">
        <div class="col mt-4 border border-dark">
            <h4 class="text-center">Instrucciones para solicitar carta</h4>
            <div class="text-block text-start" style="margin-top: .8cm; margin-bottom: .5cm;">
                1.- Completar y enviar el <a href="reqform" class="link-primary">formulario de solicitud</a><br>
                2.- Una vez enviado, en la pestaña <a href="/pendiente">pendiente</a> debes introducir tu número de
                matrícula y la solicitud debe estar en espera de ser revisada. De no ser
                así, por favor repita el paso 1<br>
                3.- Cuando un administrador verifique su información la solicitud pasa automaticamante al apartado de <a
                    href="/revisado">revisado</a> donde necesitarás introducir el número de matricula nuevamente. <br>
                4.- En este apartado pueden ocurrir 2 cosas:<br>
                <p class="success" style="margin-left: 1cm;">a.) Si hay un icono ✅ verde significa que la información
                    fue
                    correcta y su carta esta lista para imprimir</p>
                <p class="" style="margin-left: 1cm;">b.) Si hay un icono ❌ rojo significa que la información fue
                    incorrecta o faltante y debe modificar su carta</p>
                5.- Si el icono es verde, simplemente haga click en generar carta.
            </div>
        </div>
    </div>
</div>