<footer id="footer">
    <center>
        <div class="mt-4" style="position: absolute; bottom: 0; width: 100%; height: 2.5rem;">
            <img src="images/UTNlogo.png" height="100" width="140" class="mt-4">
            <p class="mt-2">Universidad Tecnológica de Nogales, Sonora</p>
            <p><small>Copyright <i class="fa-regular fa-copyright">2022</i></small></p>
        </div>
    </center>
</footer>
