<div class="container">
    <div class="row">
        <div class="text-center mt-4 mb-4" style="--bs-border-opacity: .4;">
            <p style="font-size: large;">
                Ha iniciado sesión en modo administrador. Esto le permite verificar la información de los alumnos para
                generar sus cartas de presentación.<br>

            </p>
            <div class="row justify-content-center" style="margin-top: 3cm;">
                <div class="col-4">
                    <a href="/pendiente" style="font-weight: 500; font-size: large; text-decoration: none;"><img src="/images/document_pend_icon.png" alt="doc_pendiente" height="150" width="150"><br>
                    <p class="text-danger">Documentos pendientes</p></a>
                </div>
                <div class="col-4">
                    <a href="/revisado" style="font-weight: 500; font-size: large; text-decoration: none;"><img src="/images/document_check_icon.png" alt="doc_revisado" height="150" width="150"><br>
                    <p class="text-success">Documentos revisados</p></a>
                    
                </div>
            </div>

