<div class="container padding-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center mt-4">
                <div class="card-header mb-3">
                    <h3>Iniciar Sesión</h3>
                </div>

                <form action="/home" method="GET">
                    <div class="form-group mb-2">
                        <input type="text" name="username" placeholder="Número de expediente" class="form-control"
                            autofocus>
                        <small id="" class="" style="font-weight: bold; font-size: small;">
                            El número de expediente NO es editable. Favor de verificarlo antes de continuar
                        </small>
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" name="username" placeholder="Nombre" class="form-control"
                            >
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Contraseña" class="form-control">
                    </div>
                    <div class="form-group mt-3 mb-2">
                        <button class="btn btn-primary btn-block">
                            Registrarse
                        </button>
                    </div>
                </form>
            </div>
            <div class="mt-2">
                Ya estas registrado? <a href="/login" class="">Inicia Sesión</a>
            </div>
        </div>
    </div>
</div>