<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    {{!-- GOOGLE FONTS --}}
    {{!-- BOOTSTRAP --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {{!-- FONT AWESOME --}}
    <script src="https://kit.fontawesome.com/4321d4c419.js" crossorigin="anonymous"></script>
    {{!-- STYLES --}}
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- TAB ICON --}}
    <link rel="icon" type="image/png" href="/images/testing2-modified.png">


    {{!-- <center><img src="/images/UTN_text.png" alt="LogoUTN" height="80" class="mb-3 mt-4"></center> --}}

</head>

<body>

    {{!-- --}} {{> navigation}}

    {{{ body }}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>

<!--
<footer id="footer">
    <center>
        <div class="mt-4" style="position: absolute; bottom: 0; width: 100%; height: 2.5rem;">
            <img src="images/UTNlogo.png" height="100" width="140" class="mt-4">
            <p class="mt-2">Universidad Tecnológica de Nogales, Sonora</p>
            <p><small>Copyright <i class="fa-regular fa-copyright">2022</i></small></p>
        </div>
    </center>
</footer>



</html>